<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewController</key>
	<dict>
		<key>BehaviorEvents</key>
		<array>
			<dict>
				<key>BehaviorType</key>
				<string>2</string>
				<key>BehaviorEventId</key>
				<string>upload</string>
				<key>BehaviorPageId</key>
				<string>ViewController</string>
				<key>BehaviorEventSelectorName</key>
				<string>downloadSimulationPictures</string>
				<key>BehaviorEventDesc</key>
				<string>模拟 IO</string>
				<key>BehaviorParameter</key>
				<array>
					<string>vcStr</string>
				</array>
			</dict>
			<dict>
				<key>BehaviorType</key>
				<string>1</string>
				<key>BehaviorEventId</key>
				<string>push</string>
				<key>BehaviorPageId</key>
				<string>ViewController</string>
				<key>BehaviorEventSelectorName</key>
				<string>pushEvent:</string>
				<key>BehaviorEventDesc</key>
				<string>push页面</string>
			</dict>
		</array>
	</dict>
	<key>ButtonView</key>
	<dict>
		<key>BehaviorEvents</key>
		<array>
			<dict>
				<key>BehaviorType</key>
				<string>1</string>
				<key>BehaviorParameter</key>
				<array>
					<string>str</string>
					<string>arr</string>
				</array>
				<key>BehaviorEventId</key>
				<string>btn_click</string>
				<key>BehaviorPageId</key>
				<string>ButtonView</string>
				<key>BehaviorEventSelectorName</key>
				<string>didClickToDo</string>
				<key>BehaviorEventDesc</key>
				<string>子 View 上 Button 点击事件</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
